# Ignorar arquivos de log
*.log

# Ignorar diretórios de dependências
node_modules/
vendor/

# Ignorar arquivos de ambiente
.env
*.env

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/

# Ignorar arquivos de build
dist/
build/